.airlinecard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media only screen and (min-width: 0px) and (max-width : 768px){
    .airlinecard{
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;       
    }    
}
@media only screen and (min-width: 768px) and (max-width : 992px){
    .airlinecard{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: auto ;
        grid-row-gap: 10px;
        place-items: center;
    }    
}
@media only screen and (min-width: 992px) and (max-width : 1200px){
    .airlinecard{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: auto ;
        grid-row-gap: 10px;
        place-items: center;
    }    
}